.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
.gitignore
dprint.json
esbuild.js
mise.toml
resource/*.gif
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
