.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
zenhan/**
.gitignore
.yarnrc
dprint.json
esbuild.js
mise.toml
yarn.lock
resource/*.gif
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
